$box-sizing: border-box;

$primary-color: #709b90;
$secondary-color: #cc6b5a;
$font-family: Helvetica, Arial, sans-serif;
$box-color: #fff;

$text-size: (
    "small": 1.5rem,
    "medium": 2rem,
    "large": 4rem
);