@import './resets';
@import './variables';

@function size($text-name) {
    @return map-get($text-size, $text-name);
}

@mixin navLinks($navLinks: true) {
    @if $navLinks {
        display: block;
        padding: .5em 1em;
        background-color: #cc6b5a;
        color: white;
        text-decoration: none;
    }
}


@mixin button($cta-button: true) {
    @if $cta-button {
        display: block;
        background-color: $secondary-color;
        color: $box-color;
        padding: .5em 1em;
        text-decoration: none;
    }
}

  body {
    background:$primary-color;
    font-family: $font-family;
  }

  .container {
    display: grid;
    grid-template-areas: "title title"
                         "nav   nav"
                         "main  aside1"
                         "main  aside2";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1.5em;
    max-width: 1080px;
    margin: 0 auto;
  }

  header {
    grid-area: title;
  }

  nav {
    grid-area: nav;
  }

  .main {
    grid-area: main;
  }

  .sidebar-top {
    grid-area: aside1;
  }

  .sidebar-bottom {
    grid-area: aside2;
  }

  .tile {
    padding: 1.5em;
    background-color: $box-color;
    :first-child {
        margin-top: 0;
    }
  }

  .tile * + * {
    margin-top: 1.5em;
  }

  .page-heading {
    margin: 0;
  }

  .site-nav {
    display: flex;
    margin: 0;
    padding: .5em;
    background-color: #5f4b44;
    list-style-type: none;
    border-radius: .2em;
    li {
        margin-top: 0;
        a {
            @include navLinks($navLinks: true);
        }
    }
    li + li {
        margin-left: 1.5em;
    }
    .nav-right {
        margin-left: auto;
    }
  }


  .login-form {
      h3 {
        margin: 0;
        font-size: .9em;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;
      }
      input:not([type=checkbox]):not([type=radio]) {
        display: block;
        margin-top: 0;
        width: 100%;
      }
      button {
        margin-top: 1em;
        border: 1px solid #cc6b5a;
        background-color: white;
        padding: .5em 1em;
        cursor: pointer;
      }
  }


  .centered {
    text-align: center;
  }

  .cost {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7;
    > span {
        margin-top: 0;
      }
    #{&}-currency {
        font-size: size(medium);
    }
    #{&}-dollars {
        font-size: size(large);
    }
    #{&}-cents {
        font-size: size(small);
        align-self: flex-start;
    }
  }



  .cta-button {
    @include button($cta-button: true);
  }